# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Entornos — NUNCA commitear
.env
.env.local
.env.*.local
.env.example
.env.*.example
backend/.env
frontend/.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

#Claude
Claude.md